{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello!</title>
<style>
    * {
  font-family: "Rubik", sans-serif;
  margin: 0;
box-sizing: border-box;
}
.section1 {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7122199221485469) 0%, rgba(52,51,69,1) 100%),
    url("/static/img/wall1.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dadde4;
  line-height: 0;
}

.banner-text h1 {
  font-size: 100px;
  font-weight: 700;
}
#halo{
  margin-top: -10%;
}

.banner-btn a {
  border: 1px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 0.8em;
  /* display: inline-block; */
  margin-top: 3em; 
  margin-right: 3em; 
  color: #ffffff;
  /* position:absolute;  */
  float: right;
}

h1 {
  color: #f7aa29;
  font-weight: 600;
  text-align: center;
}

h5 {
  color: #f7aa29;
  font-weight: 600;
  font-size: 30px;
}

li {
  font-weight: 500;
}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
  margin-top: 10%;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  /* padding-top: 0.2em; */
  /* padding-right: 0.05em; */
  /* padding-bottom: 0.1em; */
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.arrows {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(50px)}
100% {opacity:0; transform:translateY(50px)}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(50px)}
100% {opacity:0; transform:translateY(50px)}
}

.arrows path.a1 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

@media (max-width: 600px) {
  .banner-text h1 {
    font-size: 60px;
  }

  .banner-text h2 {
    font-size: 20px;
  }

  .banner-btn a {
    margin: 10px 10px;
  }
}

.section2 {
  background-color: #343345;
  height: 70vh;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:#343345;

}

.card {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -130px;
  height: 40px;
}

.card .desc{
  text-align: center;
  font-size: 1em;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color:#1b2231;
}

@media all and (max-width: 500px) {
  .card{
    width: 150px;
    height: 150px;
  }

  .card .card_title {
    font-size: 1.3em;
  }

  .card .desc{
    font-size: 0.9em;
  }
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

</style>
{% endblock meta %}

{% block content %}
<section class="section1">
  <div class="container">
    <p class="banner-btn float-right">
      <a href="{% url 'main:logout' %}" class="active">Log out</a>
    </p>
    <div class="banner-text">
      <div class="text-area" id="halo">
        <h1 style="color: #dadde4;">Hello, </h1>
      </div>
      <h1 class="ml9">
        <span class="text-wrapper">
          <span class="letters">{{request.user}}</span>
        </span>
      </h1>
    </div>
    <svg class="arrows">
      <path stroke-linecap="round" class="a1" d="M0 0 L20 22 L40 0"></path>
    </a>
  </div>
</section>

<section class="section2" id="section2">
  <div class="container justify-content-center align-items-center">
    <br><br><br><br>
      <h1  style="color: #dadde4; font-size:2.7em ">Story of Hilmy</h1>

    <br>
      <div class="cards-list ">
        <div class="card 1">
          <div class="card_image"> <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v563-taus-13-gradientsetidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=7e789fa3fded76029bd5a46418d4c04b" /> </div>
          <a href="http://story1ppwhilmy.herokuapp.com/">
          <div class="card_title title-white">
            <p>Story 1</p>
          </div>
        </a>
        <div class="desc">
          <p>Introduction</p>
        </div>
        
        </div>
        
          <div class="card 2">
          <div class="card_image">
            <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v563-taus-07-gradientsetidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=36d5bf895fadf47fe60ac60cd11f849d" />
            </div>
            <a href="http://story3ppwhilmy.herokuapp.com/">
          <div class="card_title title-white">
            <p>Story 2-5</p>
          </div>
        </a>
        <div class="desc">
          <p>My Own Portfolio + Matcool</p>
        </div>
                
        </div>
        
        <div class="card 3">
          <div class="card_image">
            <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v563-taus-10-gradientsetidea_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=60ae1921708eba7d7754a47d3f7d5c18" />
          </div>
          <a href="http://story6ppwhilmy.herokuapp.com/">
          <div class="card_title title-white">
            <p>Story 6</p>
          </div>
        </a>
        <div class="desc">
          <p>KegiatanKu.</p>
        </div>
        </div>
          
          <div class="card 4">
          <div class="card_image">
            <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v622-kul-04-summergradient_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=cf0187d20c228a06fa095da8cf362131" />
            </div>
            <a href="http://story7ppwhilmy.herokuapp.com/">
          <div class="card_title title-white">
            <p>Story 7</p>
          </div>
        </a>
        <div class="desc">
          <p>Accordion</p>
        </div>
          </div>
        
          <div class="card 5">
            <div class="card_image"> <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v384-ning-06b-gradientbg_2.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dfeadb1258fa1fc7a068950feaf274ea" /> 
            </div>
            <a href="http://story8ppwhilmy.herokuapp.com/">
              <div class="card_title title-white">
              <p>Story 8</p>
            </div>
          </a>
          <div class="desc">
            <p>Google API Search</p>
          </div>
          </div>

          <div class="card 6">
            <div class="card_image"> <img src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2018/03/Fluorescent-Gradient-Final.jpg" /> 
            </div>
            <a href="https://tk1-covidstudy.herokuapp.com/">
              <div class="card_title title-white">
              <p>TK 1</p>
            </div>
          </a>
          <div class="desc">
            <p>CoronaStudy</p>
          </div>
          </div>
        
          <br><br><br><br>
            <!-- <div class="card 6"> -->
            <!-- <div class="card_image"> -->
              <!-- <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" /> -->
              <!-- </div> -->
            <!-- <div class="card_title title-white"> -->
              <!-- <p>Card Title</p> -->
            <!-- </div> -->
          <!-- </div> -->
<!--            -->
          <!-- <div class="card 7"> -->
            <!-- <div class="card_image"> -->
              <!-- <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> -->
            <!-- </div> -->
            <!-- <div class="card_title"> -->
              <!-- <p>Card Title</p> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
  </div>
  
</section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript">
    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml9 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
    .add({
        targets: '.ml9 .letter',
        scale: [0, 1],
        duration: 1500,
        elasticity: 600,
        delay: (el, i) => 45 * (i+1)
      }).add({
        targets: '.ml9',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
      });
    </script>
{% endblock content %}
