{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("/static/img/wall2.jpg");
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        font-family: "Rubik", sans-serif;
    }
    .user_card {
        width: 30em;
        margin-top: auto;
        margin-bottom: auto;
        background: rgba(209, 209, 209, 0.486);
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        /* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        /* -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        border-radius: 3em;

    }

    .form_container {
        margin-top: 20px;
    }

    #form-title{
        color:  #dadde4;
        font-size: 2.3em;
        font-weight: 800;
    }
    .login_btn {
        width: 100%;
        background:#f7aa29!important;
        color: white !important;
        border-radius: 1.5em;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }

    .input-group{
        font-size: 1em;
    }
    .input-group-text {
        background: #f7aa29 !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

</style>
{% endblock meta %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center mt-3">
                <h3 id="form-title">Register</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{form.username}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        {{form.email}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password1}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{form.password2}}
                    </div>

                       <div class="d-flex justify-content-center mt-4 login_container">
                         <input class="btn login_btn" type="submit" value="Register Account">
                       </div>
                </form>
            </div>

            {% if form.errors %}
            <div class="alert alert-warning  d-flex justify-content-center mt-4 " role="alert">
                {{form.errors}}
              </div>
            {% endif %}
            
            {%for message in messages%}
                <div class="alert alert-success  d-flex justify-content-center mt-4" role="alert">
                    {{message}}
                </div>
            {%endfor%}

            <div class="mt-4 mb-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{% url 'main:login' %}" class="ml-2" style="color: #f7ba5b;">Sign In</a>
                </div>
        </div>
        </div>
    </div>
</div>
  
{% endblock content %}
